@import '../../styles/variables';
@import '../../styles/mixins';

.score {
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 15px;
  margin-bottom: 50px;
}
.circle,
.circleBg {
  fill: transparent;
  transition: stroke-dashoffset 1s;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.circle {
  stroke: #b8d916;
}
.circleBg {
  stroke: #d9d9d9;
}
.label {
  color: #252525;
  font-size: 24px;
  letter-spacing: -2px;
  font-family: NotoSans-Bold,Arial,sans-serif;
  font-weight: 700;
}
.title {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 10px;
  width: 100px;
  font-size: 13px;
  text-align: center;
}