// ==============================================
// Global animations (transitions and keyframes)
// ==============================================

@keyframes fadeInFrames {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 30%, 0);
  }
  10% {
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

.fadeInTransition-appear,
.fadeInTransition-enter {
  opacity: 0.01;
  // transform: scale(0.9);
}

.fadeInTransition-appear-active,
.fadeInTransition-enter-active {
  opacity: 1;
  // transform: translateX(0);
  transition: opacity .3s, transform 300ms;
}
.fadeInTransition-exit {
  opacity: 1;
}
.fadeInTransition-exit-active {
  opacity: 0.01;
  // transform: scale(0.9);
  transition: opacity .3s, transform 300ms;
}

@keyframes placeholder {
  0% {
    transform: translateX(-150%);
  }

  100% {
    transform: translateX(150%);
  }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}

@keyframes rotate {
  0% {
    background-position: 0 -40px;
  }

  100% {
    background-position: -1180px -40px;
  }
}