// ==============================================
// Typography
// ==============================================

@import './variables';

body,
* {
  font-family: $rtv-font, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
