// ==============================================
// Variables
// ==============================================

/* Colors */
$body-bg-color: #101010;
$content-bg-color: #171717;
$yellow: #f5c518;
$snow: #f1f1f1;
$light-grey: #737373;
$light-snow: #d9d9d9;
$slight-black: #252525;
$brownish-grey: #a8a8a8;
$green: #b8d916;
$black: #000000;
$white: #ffffff;
$light-white: #ebebeb;

/* Font Family */
$rtv-font: 'Noto Sans', sans-serif;
$rtv-glyphs: Glyphs;