@import '../styles/variables';

.wrapper {
  margin-top: 25px;
}
.lists {
  z-index: 1;
  position: relative;
  padding: 0 15px 25px;
  padding-bottom: 25px;

  h3 {
    margin-right: 5px;
    margin-bottom: 15px;
    margin-left: 5px;
    font-size: 22px;
  }
}

.details {

  .buttonContainer {
    position: absolute;
    top: 15%;
    display: block;
    width: 100%;
    text-align: center;

    @media (min-width: 340px) {
      top: 17%;
    }
    @media (min-width: 560px) {
      top: 22%;
    }
    @media (min-width: 730px) {
      top: 20%;
    }
    @media (min-width: 910px) {
      top: 25%;
    }
  }
  .data {
    position: absolute;
    bottom: 185px;
    display: block;
    padding: 0 25px;
    width: 100%;
    text-align: center;

    @media (min-width: 910px) {
      bottom: 130px;
    }

    .ratingContainer {
      text-shadow: 0 1px 1px rgba($black, .8);
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: NotoSans-Bold,Arial,sans-serif;
      font-weight: 700;
      font-size: 18px;

      span {
        margin-left: 10px;
        color: rgb(245, 197, 24);
      }
    }

    .title {
      margin-bottom: 10px;
      color: $white;
      font-size: 18px;
      line-height: 110%;
      font-family: NotoSans-Bold,Arial,sans-serif;
      font-weight: 700;
      margin-top: 10px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-shadow: 0 1px 1px rgba($black, .8);

      @media (min-width: 300px) {
        font-size: 22px;
      }
      @media (min-width: 340px) {
        font-size: 28px;
      }
      @media (min-width: 560px) {
        font-size: 32px;
      }
      @media (min-width: 730px) {
        font-size: 36px;
      }
      @media (min-width: 910px) {
        font-size: 42px;
      }
    }
  }

  .detailInfo {
    position: relative;
    padding: 0 0 25px;
    background-color: #f1f1f1;
    z-index: 0;
    display: flex;

    @media (min-width: 910px) {
      padding: 0 20px 20px;
    }

    .detailInfoMain {
      display: block;
      width: 100%;
      color: #737373;
      background-color: $white;
      border: 1px solid #d9d9d9;
      border-top: none;
      border-right: 1px solid #d9d9d9;
      border-left: 1px solid #d9d9d9;
      border-radius: 0 0 2px 2px;
      padding: 10px;

      @media (min-width: 910px) {
        width: 70%;
      }
      @media (min-width: 1140px) {
        width: 75%;
      }
      @media (min-width: 1400px) {
        width: 80%;
        padding: 20px;
      }
    }
    .movieInfo {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      flex-wrap: wrap;

      .infoContent {
        display: inline-flex;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 3px;
        font-size: 14px;
        font-family: NotoSans-Bold,Arial,sans-serif;
        font-weight: 700;
        color: #252525;
        -moz-osx-font-smoothing: grayscale;
      }

      &.column {
        flex-direction: column;
        align-items: baseline;
        justify-content: center;

        .infoContent {
          font-size: 16px;
        }
      }
      &.inline {
        display: inline-flex;
      }
    }
    .infoIcon {
      font-size: 18px;
      color: #252525;
      margin-right: 5px;
    }

    .cast {
      margin: 0 10px 0 0;
      margin-left: 0px;
      width: 80px;
      color: #252525;
      transition: color .1s ease;
    }
    .genre {
      margin-right: 15px;
      margin-bottom: 10px;
      width: 80px;
      color: #252525;
      transition: color .2s ease;

      img {
        display: block;
        width: 80px;
        height: 80px;
        background-color: #d9d9d9;
        background-size: 100%;
        border-radius: 50%;
        transition: opacity .2s ease;
        box-shadow: inset 0 0 0 7px #d9d9d9;
      }
    }
  }
}

.trailer {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
  z-index: 6;

  .videoContainer {
    width: 100%;
    height: 100%;

    video {
      width: 100%;
      height: 100%;
      margin: 0 auto;
    }
  }

  .backLink {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 110;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
    animation-name:anim-fadein;
    animation-duration: .5s;
    cursor: pointer;
    display: flex;
    align-items: center;

    .backIcon {
      color: #a8a8a8;
      transition: color .1s ease;
      font-size: 30px;
    }


    .tipLabel {
      color: #252525;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-family: NotoSans-Bold,Arial,sans-serif;
      font-weight: 700;
      display: flex;
      position: relative;
      left: 10px;
      padding: 0 10px;
      height: 25px;
      align-items: center;
      font-size: 12px;
      text-align: center;
      background-color :#a8a8a8;
      border-radius: 2px;
      box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
      z-index: 10;
      animation-name: anim-fadein;
      animation-duration: .5s;
      transition: background-color .3s ease,color .3s ease;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 7px);
        width: 0;
        height: 0;
        right: -14px;
        border-width: 7px;
        border-style: solid;
        transition: border-color .3s ease;
        left: -14px;
        border-color: transparent #a8a8a8 transparent transparent;
      }
    }

    &:hover {
      .backIcon {
        color: $white;
      }
      .tipLabel {
        background-color: $white;

        &::after {
          border-color: transparent $white transparent transparent;
        }
      }
    }
  }
}